<div class="row">
    <div class="col-md-12 d-flex justify-content-end mt-3">
      <%= link_to "Delete event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>